<h1 mat-dialog-title>Edit Event</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.event.name">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Time From</mat-label>
    <input type="time" matInput [(ngModel)]="data.timeFrom">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Time To</mat-label>
    <input type="time" matInput [(ngModel)]="data.timeTo">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="editEvent()">Update</button>
  <button mat-button (click)="deleteEvent()">Remove</button>
</div>