<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Schedule of Events</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        This application is a calendar in which you can mark upcoming events and view those that have already happened!
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="(afAuth.user | async)" mat-button routerLink="/schedule">GO TO SCHEDULE</button>
      <button *ngIf="!(afAuth.user | async)" mat-button routerLink="/signin">GO TO LOGIN</button>
    </mat-card-actions>
  </mat-card>