:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .example-card {
        width: 800px;
        height: 50px;
    } 

    .example-time-card {
        width: 250px;
        height: 50px;
    } 

    .event-block {
        border: solid;
        border-color: #cccc;
        border-radius: 8px;
        border-width: 3px;
        background-color: antiquewhite;
        user-select: none;
        position: absolute;
        left: 270px;
    }

    .table-div {
        position: relative;
    }

    .line-div {
        position: absolute;
        width: 100%;

        .red-line {
            background-color: red;
            height: 1px;
            margin: unset;
        }
    }
}